@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Montserrat";
    color: #83604a;
}

body{
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("img/fundo.png");
    display: flex;
    align-items: center;
    justify-content: center;
}

#fundoToDo{
    height: 38rem;
    width: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("img/fundoTodo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.col{
    height: 38rem;
    width: 43rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}


#textos{
    height: 8rem;
    width: 23rem;
    display: flex;
    flex-direction: column;
}

#textos h1{
    margin-top: 3rem;
    padding-bottom: 10px;
}

#dataEsp{
    width: 20rem;
    height: 2rem;
    font-size: 20px;
    font-weight: bold;
}

.letra-d{
    font-family: "Pinyon Script";
    font-size: 35px;
}

#espacoAdd{
    width: 38rem;
    height: 3rem;
    margin-top: 1rem;
    border-top: 2px solid #83604a67;
    border-bottom: 2px solid #83604a67;
}

#botaoAdd{
    padding-top: 0.6rem;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    font-weight: 400;
    border: none;
    background: none;
    cursor: pointer;
}

#listaTarefas{
    width: 20rem;
    height: 25rem;
}

.tarefa{
    width: 35rem;
    font-size: 20px;
    margin: 1rem;
    padding: 0.3rem;
    display: flex;
    align-items: center;
    border-radius: 12px;
}

.texto-tarefa{
    color: #83604a;
    font-weight: bolder;
    border: none;
    background: transparent;
    outline: none;
    font-size: 16px;
    flex: 1;
    padding-left: 10px;
}

.btnApagar{
     margin-left: auto;
     border: none;
     background: none;
     margin-top: 0.4rem;
     opacity: 0;
     cursor: pointer;
}

.texto-tarefa::placeholder{
    opacity: 0.5;
}

/* CHECKBOX CREDITOS DA CONFIGURAÇÃO: ?  */

[type=checkbox] {
  width: 1.6rem;
  height: 1.6rem;
  color: #83604a;
  vertical-align: middle;
  -webkit-appearance: none;
  background: none;
  border: 0;
  outline: 0;
  flex-grow: 0;
  border-radius: 20%;
  background-color: #FFFFFF;
  transition: background-color 200ms;
  cursor: pointer;
}


[type=checkbox]::before {
  content: "";
  color: transparent;
  display: block;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  border: 0;
  background-color: transparent;
  background-size: contain;
  box-shadow: inset 0 0 0 1px #CCD3D8;
}


/* Checked */

[type=checkbox]:checked {
  background-color: currentcolor;
}

[type=checkbox]:checked::before {
  box-shadow: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
}


/* Disabled */

[type=checkbox]:disabled {
  background-color: #CCD3D8;
  opacity: 0.84;
  cursor: not-allowed;
}


/* IE */

[type=checkbox]::-ms-check {
  content: "";
  color: transparent;
  display: block;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  border: 0;
  background-color: transparent;
  background-size: contain;
  box-shadow: inset 0 0 0 1px #CCD3D8;
}

[type=checkbox]:checked::-ms-check {
  box-shadow: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
}

/* anotações */

#col2{
    width: 30rem;
}


#tilNotes{
    width: 25rem;
    height: 2rem;
    font-size: 20px;
    font-weight: bold;
    margin-top: 5.2rem;
}

.letra-a{
    font-family: "Pinyon Script";
    font-size: 35px;
}

#caixaNotes{
    width: 22rem;
    height: 33rem;
    margin-right: 4.5rem;

}

#note{
    width: 100%;
    margin-top: 1rem;
    height: 25rem;

    border: 4px solid #F2BDC6;
    border-radius: 25px;
    outline: none;
    resize: none;
    background: transparent;
}